gesture: swipe left  4	xdotool  key alt+Left
gesture: swipe right 4	xdotool  key alt+Right
gesture: swipe left  3 _internal ws_down
gesture: swipe right 3 _internal ws_up
gesture: swipe down  3  xdotool  key ctrl+alt+d
gesture: swipe up    3  dbus-send --session --type=method_call --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval string:'Main.overview.toggle();'
# gesture: pinch in       dbus-send --session --type=method_call --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval string:'Main.overview.toggle();'
# gesture: pinch out      dbus-send --session --type=method_call --dest=org.gnome.Shell /org/gnome/Shell org.gnome.Shell.Eval string:'Main.overview.toggle();'