# get current branch in git repo
function parse_git_branch() {
	if [ -d .git ]
	then
		BRANCH=`git branch 2> /dev/null | sed -e '/^[^*]/d' -e 's/* \(.*\)/\1/'`
		if [ ! "${BRANCH}" == "" ]
		then
			STAT=`parse_git_dirty`
			echo "[${BRANCH}${STAT}]"
		else
			echo "[]"
		fi
	else
		echo ""
	fi
}

# get current status of git repo
function parse_git_dirty {
	status=`LANG=en_GB git status 2>&1 | tee`
	dirty=`echo -n "${status}" 2> /dev/null | grep "modified:" &> /dev/null; echo "$?"`
	untracked=`echo -n "${status}" 2> /dev/null | grep "Untracked files" &> /dev/null; echo "$?"`
	ahead=`echo -n "${status}" 2> /dev/null | grep "Your branch is ahead of" &> /dev/null; echo "$?"`
	newfile=`echo -n "${status}" 2> /dev/null | grep "new file:" &> /dev/null; echo "$?"`
	renamed=`echo -n "${status}" 2> /dev/null | grep "renamed:" &> /dev/null; echo "$?"`
	deleted=`echo -n "${status}" 2> /dev/null | grep "deleted:" &> /dev/null; echo "$?"`
	bits=''
	if [ "${renamed}" == "0" ]; then
		bits=$'\u21C4'"${bits}" # CHANGE
	fi
	if [ "${ahead}" == "0" ]; then
		bits=$'\u2191'"${bits}" # UP ARROW
	fi
	if [ "${newfile}" == "0" ]; then
		bits=$'\u2605'"${bits}" # STAR
	fi
	if [ "${untracked}" == "0" ]; then
		bits=$'\uFE16'"${bits}" # QUESTION
	fi
	if [ "${deleted}" == "0" ]; then
		bits=$'\u2620'"${bits}" # SKULL
	fi
	if [ "${dirty}" == "0" ]; then
		bits=$'\u2726'"${bits}" # HYPER
	fi
	if [ ! "${bits}" == "" ]; then
		echo " ${bits}"
	else
		echo ""
	fi
}

export PS1=$'\[\e[32m\]\u250C \u\[\e[m\] \[\e[34m\]@ \h \w\[\e[m\] \[\e[32m\]`parse_git_branch`\[\e[m\]\n\[\e[32m\]\u2514 \\$ \u27A4\[\e[m\] '