[global_config]
  always_split_with_profile = True
  enabled_plugins = TerminatorThemes, LaunchpadCodeURLHandler, APTURLHandler, LaunchpadBugURLHandler
  title_inactive_bg_color = "#babdb6"
  title_inactive_fg_color = "#2e3436"
  title_transmit_bg_color = "#73d216"
  title_transmit_fg_color = "#2e3436"
  window_state = maximise
[keybindings]
[layouts]
  [[default]]
    [[[child0]]]
      fullscreen = False
      last_active_term = bf8fdbfc-5266-4941-a49d-4bbcb7b2e6ce
      last_active_window = True
      maximised = True
      order = 0
      parent = ""
      position = 0:30
      size = 1600, 733
      title = Home
      type = Window
    [[[terminal1]]]
      order = 0
      parent = child0
      profile = Dracula
      type = Terminal
      uuid = bf8fdbfc-5266-4941-a49d-4bbcb7b2e6ce
[plugins]
[profiles]
  [[default]]
    cursor_color = "#aaaaaa"
  [[Dracula]]
    background_color = "#1e1f29"
    cursor_color = "#aaaaaa"
    font = Roboto Mono 12
    foreground_color = "#f8f8f2"
    palette = "#44475a:#ff5555:#50fa7b:#f1fa8c:#8be9fd:#bd93f9:#ff79c6:#94a3a5:#000000:#ff5555:#50fa7b:#f1fa8c:#8be9fd:#bd93f9:#ff79c6:#ffffff"
    scrollback_lines = 10000
    use_system_font = False
